# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.[oa]
*.so

# Virtual Environments
.env
.venv
env/
venv/
ENV/
VENV/

# Database
*.db
*.sqlite3
facial_recognition.db

# Dependencies
node_modules/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
